<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left mb-3">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <div class="text-uppercase font-weight-bold"></div>
        <h5><%= link_to "TGWT.", root_path, class: "navbar-brand"%></h5>
        <p>Welcome to the great world tour, on this website you'll be able to see and follow Sacha and Max and their experiences througout a tour around the world.</p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="page-links-container col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Quick Links</h6>
        <p>
          <a href="/itinerary/index">Destinations</a>
        </p>
        <p>
          <a href="/blog">Blog</a>
        </p>
        <p>
          <a href="/about">About us</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="page-links-container col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="page-links text-uppercase mb-4 font-weight-bold">Follow us</h6>
        <p>
          <a href="http://www.instagram.com/thegreatworldtour" class="fab fa-instagram">  Instagram</a>
        </p>
        <p>
          <a href="https://www.facebook.com/thegreatworldtour/" class="fab fa-facebook-f">  Facebook</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>

          <a href="mailto:info@thegreatworldtour.com?subject=Informations" class="emailinfo"> info@thegreatworldtour.com </a>


      </div>

      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center justify-content-between mx-5">
      <!-- Grid column -->
      <div class="">
        <!--Copyright-->
        <p class="text-center text-md-left">© 2019 Copyright
          <strong> thegreatworldtour.com</strong>
        </p>
      </div>
      <!-- Grid column -->
<!--       <div class="text-center text-md-center">
        <p>Made with <i class="fa fa-heart" style="color: red"></i> in Bali</p>
      </div> -->

      <!-- Grid column -->
      <div class="">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <a href="https://www.facebook.com/thegreatworldtour/" class="fab fa-facebook-f"></a>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <a href="https://www.instagram.com/thegreatworldtour" class="fab fa-instagram"></a>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
    </div>

   <h5><%= link_to "Log In.", new_user_session_path, class: "navbar-brand"%></h5>

    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
