<div class="aboutbg d-flex align-items-end justify-content-center flex-column" id="aboutbg"> </div>


<div class="titleabout">

  <h2><strong> Max & Sacha </strong></h2>
  <p>We both decided to take a year off after our respective masters to explore more of what the world has to offer.
  Our travels are dedicated to find the most beautifull places, best food and reasonable housings around the world.
  We love a good sunset and happy hours as most of us do and this blog is to share with you our tips to travel the world for some times. </p>

</div>

<div class="Sacha">

  <img src="Sacha.jpg" alt="">

</div>

<div class="followus">
  <h3> Follow us </h3>

</div>
