<div class="blogbg d-flex align-items-end justify-content-center flex-column" id="blogbg"> </div>

<div class="articles3">
  <%#= @articles.each do |article| %>
    <%#= article.title %>
  <%#= end %>
</div>




<div class="caption2 text-center">
    <p> COMING UP !!!!!!!!!</p>
  </div>
