<div class="banner d-flex align-items-end justify-content-center flex-column" id="banner">


  <div class="caption text-center">
    <%= link_to "DISCOVER", destination_path, class: "btnhome" %>
  </div>

  <div class="caption2 text-center">
    <p> The Great World Tour.</p>
  </div>

<div id="text"></div>
